<!-- font icon-->

<div id="content" class="flex">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row">
        <div class="col-3 mx-auto">
          <div class="card">
            <div class="card-header text-center"><img src="../../assets/logo.png" alt="Pay My Buddy"/></div>
            <div class="card-body">
              <form #editForm="ngForm">
                <div class="row">
                  <div class="form-group"><label class="text-muted" *ngIf="errorEmail" id="error">Error Email address</label><!--test-->
                  </div>
                  <div class="row">
                    <input type="email" [(ngModel)]="loginForm.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" name="email" email="true"  #prmEmail="ngModel" id="email"
                           class="form-control_email" aria-describedby="emailHelp" placeholder="Enter email"></div>
                </div>
                <div class="py-2"></div>
                <div class="row">
                  <div class="form-group"><label class="text-muted" *ngIf="errorPassword">Error Password</label>
                  </div>
                  <div class="row">
                    <input type="password" [(ngModel)]="loginForm.password" name="password" #prmPassword="ngModel" id="password"
                           class="form-control_password" placeholder="Password">
                  </div>
                </div>
                <div class="py-2"></div>
                <div class="form-group">
                  <div class="form-check justify-content-center">
                    <input type="checkbox" class="form-check-input"><label class="form-check-label">Remember me</label>
                  </div>


                  <!--                    </div> <button type="submit" class="btn btn-primary">Submit</button>-->
                </div>
                <div class="py-4"></div>
                <div class="text-center">
                  <button type="submit" (click)="onToggleLoginsCheck(editForm.value)" class="btn btn-primary">Login
                  </button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<!--  <div class="container col-lg-6">-->
<!--    <h1 class="text-center">Login</h1>-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <form class="form-group">-->
<!--          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>-->
<!--          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>-->
<!--          <div class="form-group">-->
<!--            <label for="email">User Name :</label>-->
<!--            <input type="text" class="form-control" id="email" [(ngModel)]="loginForm.email" placeholder="Enter User Name"-->
<!--                   name="username">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="pwd">Password:</label>-->
<!--            <input type="password" class="form-control" [(ngModel)]="loginForm.password" id="pwd" placeholder="Enter password"-->
<!--                   name="password">-->
<!--          </div>-->
<!--          <button (click)=onToggleLoginsCheckWithSecurity() class="btn btn-success">Login</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


